<br>
<form action="/create" method="post">
  <img src="/plant_img/grow-01.jpg" alt=""> <br>
  식물 이름 : <input type="text" name="title" /> <br>
  최초 단계 : 1 <br>
  <input type="submit" value="키우기" />
  <br>
  <br>
  <a href="/">목록으로</a>
</form>